h1{
    font-size: 40px;
    color: cornflowerblue;
}
h2{
    font-size: 30px;
    color: hotpink;
}
body{
    background: url(C:/Users/SharCom/Desktop/IMG_20240811_124919.jpg);
    background-size: cover;
}